@{
    ViewData["Title"] = "FTTech - Sua melhor loja de informática online!";
}


<environment include="Development">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/sobre.css" />
</environment>


<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>
    O FTTech é um site que oferece a mais completa linha de produtos em informática com qualidade e segurança, do atendimento à entrega de seus produtos.
    A empresa possui uma ampla estrutura física, estrategicamente localizadas no coração de São Bernardo. Tem como grande diferencial competitivo a inovação, gerando por consequência,
    excelência no atendimento e um sólido suporte para qualidade de nossos serviços.
</p>



<div class="integrantes">
    <h3>Desenvolvedores</h3>
    <br/>
    <h4>Alípio Danilo da Silva - RA: 082170001</h4>
    <h4>Bruno de Sousa Silva - 082170034</h4>
    <h4>Paulo de Tarso Graner Patrocinio - 082170024</h4>
    <img src="~/images/imagem-sobre.gif">
</div>


