@{
    ViewData["Title"] = "Entre em contato com a gente";
}

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/sobre.css" />

<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    CEFSA - Centro Educacional da Fundação Salvador Arena <br />
    Estrada dos Alvarengas, 4.001, São Bernardo do Campo - SP<br />
    <abbr title="Telefone"></abbr>
    SAC: (11) 4359-6565
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>
